.subTitle::before{
content:"~G";
font-size: 50px;
color:#ff004f;
font-family: sans-serif;
}
.stats p:nth-child(3){
    display: block;
    margin: auto;
    text-align: center;
    /* border:1px dotted red; */
} 
.stats p+div{
    /* border:1px dotted red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    margin:20px 0px
}
.stats div>p:nth-child(2){
    margin-top:1%
}
.stats p+div+div{
    /* border:1px solid red; */
    text-align: center;
    margin:50px 0px;
    padding:50px
}

@media  only screen and (width<=600px) {
    .stats img{
        width:200px;
    }
    .stats p+div{
        border:0px solid red;
        margin:5% 6%
    }
}
@media only screen and (width<322px){
    .githubCalender {
        border:0px solid red;
        text-wrap: balance;
        /* padding:1% */
        /* width:30% */
        /* display:flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        /* width:70% */
        /* padding:15%; */
        /* margin-left: -50px; */
    }
}