/* .portfolio{
    padding:70px 0;
    border:1px solid blue
} */
.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
    border:0px solid red;
    grid-auto-rows: 500px;
}
.work{
   border-radius: 10px;
   position: relative;
   overflow: hidden; 
   /* height:500px */
}
.work img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    display: block;
    transition:transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    /* To make text on box to disappear I made height as 0 */
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:0 40px;
    text-align: center;
    font-size:14px;
    transition:height 0.5s
    /* due to transition it will appear coming from bottom */
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#ff004f;
    text-decoration: none;
    font-size:60px;
    background:#fff;
    width: 60px;
    height:60px;
    border-radius:50%;
    text-align:center;
}
.icons{
    display:flex;
    gap:10px
}
.work:hover img{
transform:scale(1.1)
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration:none;
    color:#fff;
    transition:background 0.5s;
    /* here transition is added to background */
}
.btn:hover{
    background:#ff004f;
}
.tech button{
    display:inline-block;
    background-color:#ff004f;
    color:white;
    border-radius: 10px;
    margin:5px 5px;
    padding:10px;
    border:1px solid #ff004f;
    cursor:pointer
    }