.services_list{
    border:0px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services_list div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:background 0.5s,transform 0.5s;
}
.services_list div svg{
    font-size: 50px;
    margin-bottom:30px;
}
.services_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services_list div a{
    text-decoration: none;
    color:#fff;
    font-size:12px;
    display:inline-block;
    margin-top:20px
}
.services_list div:hover{
    /* background:#ff004f; */
    transform:translateY(-10px);
}