.services_list{
    border:5px solid red;
    /* display: flex;
    flex-wrap: wrap;
    gap:40px;
    margin-top: 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services_list div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:background 0.5s,transform 0.5s;
}
.services_list div svg{
    font-size: 50px;
    margin-bottom:30px;
}
.services_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services_list div a{
    text-decoration: none;
    color:#fff;
    font-size:12px;
    display:inline-block;
    margin-top:20px
}
.services_list div:hover{
    /* background:#ff004f; */
    transform:translateY(-10px);
}
.frontend{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    gap:10px;
    border:0px solid magenta
}
.frontend div{
    border:0px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.backend{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap:10px;
}
.backend div{
    border:0px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media only screen and (width<765px){
    .services_list{
        display: block;
    }
}
@media only screen and (width<352px){
    .frontend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .frontend div{
        width:50%
    }
    .backend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backend div{
        width:50%
    }
}