.mainBox{
  border:0px solid red;
}
.services_list{
    margin-top: 50px;
}
.services_list div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:background 0.5s,transform 0.5s;
}
.services_list div svg{
    font-size: 50px;
    margin-bottom:30px;
}
.services_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services_list div a{
    text-decoration: none;
    color:#fff;
    font-size:12px;
    display:inline-block;
    margin-top:20px
}
.services_list div:hover{
    /* background:#ff004f; */
    transform:translateY(-10px);
}
.tools{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
    border:0px solid saddlebrown;
    margin:auto
    /* margin: */
}
.tools div{
    border:0px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin:auto */
    /* margin:0px 50% */
    /* margin-right: 90% */
}
@media only screen and (width<506px){
    .tools div{
        margin-right:60%
    }
}
@media only screen and (width<279px){
    .tools div{
        border:0px solid salmon;
        margin-left:-13%;
        width:100px
    }
}